
body
	margin: 0;
	padding: 0;
div
	background: #889;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;

#World

	position: absolute
	font-family: monospace

	span
		display: none;

	ul
		margin: 0
		padding: 0
		li
			list-style-type: none
			margin: 0
			padding: 0

@font-face
    font-family: Munro;
    src: url(../../../assets/munro.ttf);
